<html>
<head>
    <title>Exemplo StackOverflow</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/estilo.css' %}">
</head>
<body>
    <header>
        <h1>Operos</h1>
        <nav>
            <a href="{% url 'perguntas:index'%}">Home</a> |
            <a href="{% url 'perguntas:quem_somos' %}">Quem Somos</a> | 
            <a href="{% url 'perguntas:inserir_pergunta' %}">Fale Conosco</a>
        </nav>
    </header>

    <main class="container">
        {% block content %}
        {% endblock %}
    </main>
</body>
</html>
