{% extends "perguntas/base.html" %}

{% block content %}
<h1 class="line typing-animation">Conheça a Revolução.</h1>
<br>
<p>
    Olá, somos a Operos, implementamos soluções para aprimorar os conhecimentos dos usuários em IoT. 
    Nosso objetivo é expandir o interesse do IoT para empresas, de forma dinâmica e com fácil leitura e 
    compreensão do que se trata a proposta enviada, buscando minimizar falhas e erros nas produções 
    com os dispositivos apresentados. 
</p>

<h2>Problema a ser resolvido</h2>

<div class="homebox">
    <img src="https://static.wixstatic.com/media/db1550_ed1c30f522fd44c58a52ef417b4c0b76~mv2.png/v1/fill/w_176,h_106,al_c,lg_1,q_85,enc_avif,quality_auto/logo-bzu-tech.png">
    <p>
        A pedido da empresa BZU Tech, uma das maiores do estado de Pernambuco no quesito de IoT, 
        embarcamos numa missão de expandir o mercado das IoT's para pessoas e empresas 
        por meio de métodos de fácil assimilação aos benefícios de sua aplicação.
    </p>
</div>

{% endblock %}