{% extends "perguntas/base.html" %}
{% load static %}
{% block content %}

<h1 align="center">Equipe</h1>
<h2>Equipe Design: </h2>

<div class="equipe">

    <div class="pessoa">
        <img src="{% static 'time/arturmenezes.jpg' %}" width="200">
        <p>Artur Menezes (amm5@cesar.school)</p>
    </div>

    <div class="pessoa">
        <img src="{% static 'time/ceci.jpg' %}" width="200">
        <p>Carla Cecília Andrade (ccfa@cesar.school)</p>
    </div>

    <div class="pessoa">
        <img src="{% static 'time/fabiomarcelo.jpg' %}" width="200">
        <p>Fábio Marcelo (fmgp@cesar.school)</p>
    </div>

    <div class="pessoa">
        <img src="{% static 'time/guylherme.jpg' %}" width="200">
        <p>Guylherme Rafael (grcs@cesar.school)</p>
    </div>

    <div class="pessoa">
        <img src="{% static 'time/rafasantuzzi.jpg' %}" width="200">
        <p>Rafael Santuzzi (rss9@cesar.school)</p>
    </div>

</div>


<h2>Equipe Ciência da Computação:</h2>

<div class="equipe">

    <div class="pessoa">
        <img src="{% static 'time/antoninovasconcelos.jpg' %}" width="200">
        <p>Antonino Romero Bertino de Vasconcelos Neto (arbvn@cesar.school)</p>
        <p>Entrada: 20/08</p>
    </div>

    <div class="pessoa">
        <img src="{% static 'time/danilocesar.jpg' %}" width="200">
        <p>Danilo César Miranda Borba Rodrigues (dcmbr@cesar.school)</p>
    </div>

    <div class="pessoa">
        <img src="{% static 'time/davi.jpg' %}" width="200">
        <p>Davi da Fonte Cajueiro (dfc@cesar.school)</p>
        <p>Entrada: 20/08</p>
    </div>

    <div class="pessoa">
        <img src="{% static 'time/enzo.jpg' %}" width="200">
        <p>Enzo Borges Barbosa de Andrade (ebba@cesar.school)</p>
        <p>Entrada: 20/08</p>
    </div>

    <div class="pessoa">
        <img src="{% static 'time/felipeassis.jpg' %}" width="200">
        <p>Felipe Assis Ferreira dos Santos (fafs@cesar.school)</p>
    </div>

    <div class="pessoa">
        <img src="{% static 'time/joseartur.jpg' %}" width="200">
        <p>José Artur Ferreira Viana (jafv@cesar.school)</p>
    </div>

    <div class="pessoa">
        <img src="{% static 'time/lucasdecarvalho.jpg' %}" width="200">
        <p>Lucas de Carvalho (llc@cesar.school)</p>
        <p>Entrada: 27/08</p>
    </div>

    <div class="pessoa">
        <img src="{% static 'time/otofrias.jpg' %}" width="200">
        <p>Oto Gonçalves Frias (ogf@cesar.school)</p>
        <p>Entrada: 31/08</p>
    </div>

</div>
{% endblock %}